# Python cache
__pycache__/
*.py[cod]
*$py.class
*.log

# Entornos y temporales
.env
.venv
env/
venv/
.DS_Store
Thumbs.db

# Logs y estados locales
historial_sincronizacion.log
telegram_state.json
telegram_bot.log

# Credenciales y Configuración privada
telegram_config.json
loyverse_config.json
